---
import BaseLayout from '../layouts/Base.astro'
import MapPin from '../assets/icons/si-map-pin.svg'
import SocialLink from '../components/SocialLink.astro'
import ProjectLinks from '../components/ProjectLinks.astro'
---

<BaseLayout title="John Sherrell">
  <header>
    <img src="/me.jpg" />
    <h1>John Sherrell</h1>
  </header>
  <main>
    <ul class="projects">
      <ProjectLinks />
    </ul>
    <ul class="socials">
      <SocialLink platform="github" handle="ohnsh" />
      <SocialLink platform="email" handle="j@ohn.sh" />
      <SocialLink platform="instagram" handle="j.ohn.sh" />
      <SocialLink platform="youtube" handle="ohn-sh" />
      <SocialLink platform="linkedin" handle="ohnsh" />
    </ul>
  </main>
  <footer>
    <p><MapPin /> Kansas City, Missouri</p>
  </footer>
</BaseLayout>

<style>
  h1 {
    font-family: var(--font-transitional);
  }
  header,
  footer {
    text-align: center;
  }
  img {
    width: 200px;
    background: var(--grad);
    border: solid 1.5px transparent;
    border-radius: 50%;
  }
  ul {
		list-style: none;
    width: fit-content;
    min-width: 230px;
    margin: 1rem auto;
    border: solid 1.5px #444;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.1rem;
  }
  /* ul:hover {
		background-image: var(--grad);
		background-clip: text;
		-webkit-background-clip: text;
		border: solid 1.5px transparent;
		color: transparent;
	} */

  ul :global(svg) {
    font-size: 1.75em;
    width: 1.1em;
    height: 1.1em;
  }
  footer {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    & svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: bottom;
      margin-right: 0.25em;
    }
  }
</style>
