---
import BaseLayout from '../layouts/Base.astro'
import { SquareActivity, FlaskConical } from '@lucide/astro'
import MapPin from '../assets/icons/si-map-pin.svg'
import LinkItem from '../components/LinkItem.astro'
---

<BaseLayout title="John Sherrell">
  <header>
    <img src="/me.jpg" />
    <h1>John Sherrell</h1>
  </header>
  <main>
    <ul class="projects">
      <li>
        <a href="https://days.ohn.sh"><SquareActivity stroke-width="1" /><span>days.ohn.sh</span></a
        >
      </li>
      <li>
        <a href="https://scratch.ohn.sh"
          ><FlaskConical stroke-width="1" /><span>scratch.ohn.sh</span></a
        >
      </li>
    </ul>
    <ul class="socials">
      <LinkItem platform="github" handle="ohnsh" />
      <LinkItem platform="email" handle="j@ohn.sh" />
      <LinkItem platform="instagram" handle="j.ohn.sh" />
      <LinkItem platform="youtube" handle="ohn-sh" />
      <LinkItem platform="linkedin" handle="ohnsh" />
    </ul>
  </main>
  <footer>
    <p><MapPin /> Kansas City, Missouri</p>
  </footer>
</BaseLayout>

<style>
  h1 {
    font-family: var(--font-transitional);
  }
  header,
  footer {
    text-align: center;
  }
  img {
    width: 200px;
    background: var(--grad);
    border: solid 1.5px transparent;
    border-radius: 50%;
  }
  ul {
		list-style: none;
    width: fit-content;
    min-width: 230px;
    margin: 1rem auto;
    border: solid 1.5px #444;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.1rem;
  }
  /* ul:hover {
		background-image: var(--grad);
		background-clip: text;
		-webkit-background-clip: text;
		border: solid 1.5px transparent;
		color: transparent;
	} */

  ul.projects a > span {
    min-width: 11ch;
  }
  ul.socials a {
    gap: 2em;
    > span {
      min-width: calc(11ch - 1em);
      /* text-align: center; */
    }
  }
  ul :global(svg) {
    font-size: 1.75em;
    width: 1.1em;
    height: 1.1em;
  }
  footer {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    & svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: bottom;
      margin-right: 0.25em;
    }
  }
</style>
