---
import BaseLayout from '../layouts/Base.astro'
import MapPin from '../assets/icons/si-map-pin.svg'
import SocialLink from '../components/SocialLink.astro'
import ProjectLinks from '../components/ProjectLinks.astro'
---

<BaseLayout title="John Sherrell">
  <header>
    <img src="/me.jpg" />
    <h1>John Sherrell</h1>
  </header>
  <main>
    <nav>
      <ul class="projects">
        <ProjectLinks />
      </ul>
    </nav>
    <nav>
      <ul class="socials">
        <SocialLink platform="github" handle="ohnsh" />
        <SocialLink platform="email" handle="j@ohn.sh" />
        <SocialLink platform="instagram" handle="j.ohn.sh" />
        <SocialLink platform="youtube" handle="ohn-sh" />
        <SocialLink platform="linkedin" handle="ohnsh" />
      </ul>
    </nav>
  </main>
  <footer>
    <p><MapPin /> Kansas City, Missouri</p>
  </footer>
</BaseLayout>

<style>
  h1 {
    font-family: var(--font-transitional);
  }
  header,
  footer {
    text-align: center;
  }
  img {
    width: 200px;
    background: var(--grad);
    border: solid 1.5px transparent;
    border-radius: 50%;
  }
  ul {
    list-style: none;
    padding: 0.5em;
    background-color: var(--bg);
    border-radius: calc(1em - 1.5px);
    margin: 0;
  }
  nav {
    width: fit-content;
    min-width: 230px;
    font-size: 1.1rem;
    margin: 1rem auto;
    border: solid 1.5px #444;
    border-radius: 1em;
    background-image: var(--grad);
    &:hover {
      border-color: transparent;
      /* -webkit-background-clip: text; */
    }
  }

  ul :global(svg) {
    font-size: 1.75em;
    width: 1.1em;
    height: 1.1em;
  }
  footer {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    & svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: bottom;
      margin-right: 0.25em;
    }
  }
</style>
