---
import { SquareActivity, FlaskConical } from '@lucide/astro'
---

<li>
  <a href="https://days.ohn.sh"><SquareActivity stroke-width="1" /><span>days.ohn.sh</span></a>
</li>
<li>
  <a href="https://scratch.ohn.sh"><FlaskConical stroke-width="1" /><span>scratch.ohn.sh</span></a>
</li>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em 1em;
    color: inherit;
    text-underline-offset: .1rem;
    
    &:not(:hover) {
      text-decoration: none;
    }
    > span {
      min-width: 11ch;
    }
  }
</style>
