---
import { SquareActivity, FlaskConical } from '@lucide/astro'
---

<li>
  <a href="https://days.ohn.sh"><SquareActivity stroke-width="1" /><span>days.ohn.sh</span></a>
</li>
<li>
  <a href="https://scratch.ohn.sh"><FlaskConical stroke-width="1" /><span>scratch.ohn.sh</span></a>
</li>

<style>
  a {
    --base-gap: 1em;
    --longest-handle: 11ch;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--base-gap);
    padding: 0.5em 1em;
    color: inherit;
    text-underline-offset: .1rem;
    
    &:not(:hover) {
      text-decoration: none;
    }
    /* Subgrid would probably be the best way to maintain alignment across lists.
     * For now, I'm setting the column width to a magic number based on the longest row.
     */
    > span {
      min-width: var(--longest-handle);
    }
  }
</style>
