---
// import 'open-props/normalize.min.css'
// import 'open-props/theme.dark.switch.min.css'
import '../styles/global.css'

const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
		<link rel="icon" href="/favicon.ico" sizes="32x32" />
		<!-- Safari does its own thing with colors. If light-on-dark wanted, it probably needs to be done manually by burning a dark circle/roundrect into the png. -->
		<link rel="icon" type="image/png" href="/favicon.png" />
		<!-- last valid icon takes priority (it's the SVG everywhere but Safari) -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
